<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>To-do List</title>
</head>
<body>
    <div id="app">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <h1>To do list</h1>
                    <div class="form">
                        <div class="input-group mb-3">

                            <input type="text" class="form-control" placeholder="Aggiungi task"
                            v-model="newTask.text" @keyup.enter="taskAdd">

                            <input class="form-control" list="categories" placeholder="Categoria"
                            v-model="newTask.badge" @keyup.enter="taskAdd">
                            <datalist id="categories">
                                <option :value="category" v-for="category in fetchCategories()">
                            </datalist>

                            <button class="btn btn-outline-success" type="button" id="button-addon2"
                            @click="taskAdd">&#9998; Aggiungi</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="list-group">
                            <div class="list-group-item d-flex align-items-center" v-for="(task, i) in taskList">

                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input"
                                        v-model="task.done" @change="onStatusChange(i)">
                                    <span :class="task.done ? 'text-decoration-line-through' : ''">{{task.text}}</span>
                                    <span id="badge" class="ms-3">{{task.badge}}</span>
                                    
                                    <div class="task_time d-flex flex-column">
                                        <small>{{task.dateAdded.toLocaleString()}}</small>
                                        <small v-if="task.dateCompleted">{{task.dateCompleted.toLocaleString()}}</small>
                                    </div>
                                </label>

                                <button class="btn btn-danger btn-sm ms-auto"
                                    @click="taskDelete(i)">&#9746;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>